
</div>

</body>

  <div class="footer">
    <pre>Made with ❤️ by <a href="https://jabirkhan.com" target="_blank"> Jabir</a>
    If you want more quotes visit <a href="https://quotes.jabirkhan.com" target="_blank">Quotes to know</a></pre>
  </div>

</html>
