<%- include("partials/header") %>


<form action="/" method="post">
  <div class="form-group">
    <p class="shadow p-3 mb-5  rounded">"<%= quote %>" - <%= author %> </p>
    <button class="btn btn-outline-info" type="submit" name="button">Next Quote</button>

  </div>

</form>


<%- include("partials/footer") %>
